body {
  font-family: 'Open Sans', sans-serif;
  color: #7D7987;
  text-align: center;
  font-size: 14px;
  line-height: 28px;
  margin: 0;
}

#hero {
  width: 592px;
  margin: auto;
}

#hero img {
  margin-bottom: 30px;
}

h1 {
  font-family: 'Inter', sans-serif;
  color: black;
  font-size: 49px;
  line-height: 56px;
  font-weight: normal;
  margin-bottom: 30px;
}

h1 span {
  font-weight: bold;
}

span, a {
  color: #FF9900;
}

a {
  text-decoration: none;
}

footer a + a {
  margin-left: 28px;
}

#line {
  width: 568px;
  border: 1px solid #ECEFF2;
  margin: 0 auto 8px;
}

#balls {
  position: fixed;
  bottom: 0;
  right: 0;
}